.custom-news-popup .maplibregl-popup-content {
    background: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 16px !important;
    border-radius: 18px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    
    color: #000000 !important;
    font-family: sans-serif;
}

.popup-time {
    font-size: 10px;
    color: #333;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.popup-title {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    margin: 6px 0;
    line-height: 1.4;
}

.popup-address {
    font-size: 10px;
    color: #000000;
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.icon {
    font-style: normal;
    flex-shrink: 0;
}